<html>
  <head>
   <meta charset="UTF-8" />
    <title> Histogramme </title>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <body>
    <div id="chart_div"></div>
    <script>
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawBackgroundColor);

      function drawBackgroundColor(){
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart(data) {

        // Create the data table.
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Date');
        dataTable.addColumn('number', 'Valeur');
        data.results.forEach(entry => {
          var date = new Date(entry.Jour*1000);
        dataTable.addColumn([date.toLocaleDateString(),entry.temp]);
        });

        // Set chart options
        var options = {'title':'Température de Paris les 16 prochains jours',
                       'width':500,
                       'height':300,
                        legend: { position: 'bottom' }
                      };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(dataTable, options);
      }
    
    fetch('/paris/')
      .then(response => response.json())
      .then(data => {
        drawChart(data);
        })
      }
      <!--Div that will hold the pie chart-->
      // <div id="chart_div"></div>
        </script>
  </body>
</html>
